* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 10px;
}

div {
    border: 3px solid black;
}

.col {
    display: inline-block;
    height: 400px;
    width: 32%;
}

.header {
    background-color: purple;
    height: 200px;
    width: 98%;
    margin-bottom: 20px;
}

.right {
    background-color: blue;
}

.mid {
    background-color: aquamarine;
}

.left {
    background-color: greenyellow;
}