
.container{
    background-color: slategray;
    height: 500px;
    padding: 3px;
}

header,
 nav{
    background-color: aqua;
    height: 50px;
    margin:10px ;
    border: 2px solid black;
    text-align: center;
}

main{
    background-color: antiquewhite;
    height: 300px;
}

article, section{
    height: 140px;
    background-color: goldenrod;
    border: 2px solid gold;
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

aside{
    background-color: greenyellow;
    float: right;
    width: 30%;
    height: 500px;
}

footer{
    margin-top: 5px;
    height: 50px;
    background-color: yellowgreen;
}