* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/map-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    color: white;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 40px auto;
    width: 40vw;
}

.numbers {
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* padding: 50px; */
    margin-top: 50px;
}

.information {
    flex: 1;
}

span {
    font-weight: bold;
    font-size: 30px;
}

.container-card {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
}

.card {
    flex-grow: 1;
    margin: 20px;
    padding: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: margin 0.3s ease-in-out;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
}

.card:nth-child(1) {
    margin-top: 50px;
}

.card:nth-child(2) {
    margin-top: 100px;
}

.card:nth-child(3) {
    margin-top: 150px;
}


/* Ajoutez ces styles à la fin de votre fichier CSS */

@media screen and (max-width: 768px) {
    /* Les styles à appliquer lorsque la largeur de l'écran est de 768 pixels ou moins */

    .numbers {
        flex-direction: column; /* Les blocs s'afficheront les uns en dessous des autres */
        height: auto;
    }

    .container-card {
        flex-direction: column; /* Les cartes s'afficheront les unes en dessous des autres */
        align-items: center; /* Centrer les cartes */
    }

    .card {
        margin: 20px 0; /* Ajouter un espacement entre les cartes */
    }

    .card:nth-child(1) {
        margin-top: 0; /* Réinitialiser la marge du premier élément */
    }

    .card:nth-child(2) {
        margin-top: 0; /* Réinitialiser la marge du deuxième élément */
    }

    .card:nth-child(3) {
        margin-top: 0; /* Réinitialiser la marge du troisième élément */
    }
}
