body{
    margin: 0;
    padding: 0;
    background-color: white;
}

header{
    width: 800px;
    height: 400px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.box1, .box2, .box3{
    background-color: aqua;
    color: white;
    font-weight: bold;
    margin: 5px;
    width: 800px;
    height: 150px;  
}

.box1, .box3{
    
}

.box2{
    width: 200px;
    align-self:end;
}