*{
    box-sizing: border-box;
}

.container{
    width: 80vw;
    height: auto;
    border: 2px solid black;
    margin: 0 auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.grid-items{
    background-color: #f2f2f2;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.header{
    grid-column: 1 /span 6;
    grid-row: 1;
}

.hero{
    grid-column: 1/ span 2;
    grid-row: 2/ span 2;
}

.sidebar{
    grid-column: 1/ span 2;
    grid-row: 4 / span 3;
}

.related-image{
    grid-column: 1/ span 4;
    grid-row: 7 /span 1;
}

.main-content{
    grid-column: 3 / span 4 ;
    grid-row: 2 / span 3;
}

.extra-content{
    grid-column: 3 / span 4 ;
    grid-row: 5/ span 2;
}

.related-post{
    grid-column: 5/ span 2;
    grid-row: 7 / span 1;
}

.footer{
    grid-column: 1/ span 6 ;
    grid-row: 8;
}
