* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    background-image: url(images/taylor-brandon-Y8r0RTNrIWM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    width: 80vw;
    margin: 0 auto;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
    display: grid;
    gap: 20px;
    align-items: start;
    font-family: 'Poppins', sans-serif;
}

header>h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif color: black;
    text-align: center;
    padding: 10px;
}

header>img {
    width: 100%;
    border-radius: 10px;
}

section.biography {
    line-height: 1.5;
    text-align-last: left;
}

section.biography>h2 {
    font-weight: bold;
}

section.works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

div.card {
    grid-template-columns: repeat(2fr);
    height: auto;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.card>h3,
p {
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
}